      {% include header.html %}

      <section>
      	<div class="avatar"></div>
      	{% for post in paginator.posts do %}
      		<h3>
				<a name="welcome-to-github-pages" class="anchor" href="{{ post.url }}">
					<span class="octicon octicon-link">{{ post.title }}</span>
				</a>
			</h3>
			{{ post.content | truncatewords:60}}<br>
            <a href="{{ post.url }}">Read more...</a>	
		{% endfor %}
		<hr />
		<!-- Pagination links -->
		<div id="post-pagination" class="pagination">
		  {% if paginator.previous_page %}
		      {% if paginator.previous_page == 1 %}
		        <a class="previous" href="/">Previous</a>
		      {% else %}
		        <a class="previous" href="{{ paginator.previous_page_path }}">Previous</a>
		      {% endif %}
		  {% else %}
		      <span class="previous disabled">Previous</span>
		  {% endif %}
	      {% if paginator.page == 1 %}
	        <span class="current-page">1</span>
	      {% else %}
	        <a href="/">1</a>
	      {% endif %}

		    {% for count in (2..paginator.total_pages) %}
		        {% if count == paginator.page %}
		          <span class="current-page">{{ count }}</span>
		        {% else %}
		          <a href="/page{{ count }}">{{ count }}</a>
		        {% endif %}
		    {% endfor %}

		  {% if paginator.next_page %}
		      <a class="next" href="{{ paginator.next_page_path }}">Next</a>
		  {% else %}
		      <span class="next disabled">Next</span>
		  {% endif %}

		</div>
      </section>
      {% include footer.html %}